$header__font-color: #fff;
$header__font-regular: 'maven_proregular', sans-serif;
$header__font-medium: 'maven_promedium', sans-serif;
$header__font-bold: 'maven_probold', sans-serif;

$main__font-regular: 'maven_proregular', sans-serif;
$main__font-medium: 'maven_promedium', sans-serif;
$main__font-bold: 'maven_probold', sans-serif;

$footer__font-medium: 'maven_promedium', sans-serif;
